@import url(normalize.css);

/* LAYOUT */
.l-wrapper {
	margin: 0 2.5%;
}

.l-header {
	margin-bottom: 1em;
}

.l-logo {
	display: block;
}

/* MODULES */
/* header */
.header {
	color: #66d9ef;
	background: #272822;
	padding: 0.5em 2.5%;
}

.header__logo {
	font-family: Arial, sans-serif;
	font-size: 10em;
	text-align: center;
}

.header__title {
	text-align: center;
}

.header__body {
	color: #a6e22e;
}

/* Figures */
.figure {
	margin-bottom: 1em;
}

.figure--image {
	text-align: center;
}

.figure__caption {
	font-style: italic;
	font-size: 0.875em;
}

/* Code */
.code {
	text-align: center;
	padding: 0 1em;
}

.code__snippet {
	text-align: left;
	display: inline-block;
}

/* Tables */
.table {
	width: 100%;
}

.table-head {
	text-align: left;
}

/* Footer */
.page-footer {
	border-top: 1px solid #d9d9d9;
	font-size: 0.875em;
}


/**/
.placeholder {
	color: #933;
	background: palegoldenrod;
	border: 1px solid hotpink;
	font-weight: bold;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir{background-color:transparent;border:0;overflow:hidden;*text-indent:-9999px}.ir:before{content:"";display:block;width:0;height:100%}.hidden{display:none!important;visibility:hidden}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}.invisible{visibility:hidden}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print{*{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}@page{margin:.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}